* {
  margin: 0;
  padding: 0;
}
.img {
  width: 200px;
  height: 300px;
  padding-top: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 15px;
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overview {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.title {
  padding-top: 20px;
}
/* .btn {
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 2px;
} */
.containerAdd {
  padding-left: 25px;
  margin-top: 30px;
}

.textAdditional {
  margin-bottom: 15px;
}

.linkReviews {
  list-style-type: square;
}

.ul {
  padding-left: 15px;
}

.btn {
  margin-left: 5px;
  width: 50px;
  height: 30px;
  color: black;
  background-color: rgb(175, 173, 173);
  text-decoration: none;
  border-radius: 2px;
  font-size: smaller;
  padding-left: 5px;
  padding-right: 5px;
}
